/* Los estilos de tu proyecto */
/*header*/
.navbar {
  background-color: #fff;
  border-bottom: none;
}
/*primer contenido*/
.container-1 {
  background-image: url(../assets/images/taxi.jpg);
  background-size: cover;
  height: 40em;
  background-position: bottom;
  margin: 0;
  padding: 0;
}

.sub-container1 {
  background-color: #F7B617;
  width: 400px;
  height: 300px;
  float: right;
  margin-top: 10em;
}

.color {
  color: #fff;
  padding-left: 20px;
  padding-top: 20px;
  margin: 0;
}
.color2{
  padding: 0px 20px;
}
.btn{
  margin-left: 20px;
}
hr{
  width: 150px;
  display: inline-block;
}
.sub-cont span{
   color: #fff;
}
/*segundo contenido*/
.container-2 {
  background-color: #F7B617;
  background-size: cover;
  height: 40em;
  margin: 0;
  padding: 0;
}
.sub-container2 {
  border: 1px solid #fff;
  border-left: none;
  height: 70vh;
  margin-top: 10vh;
}
.sub-cont2{
  margin-top: 20px;
  width: 90%;
}
.images {
  display: inline-block;
}
.texts{
  display: inline-block;
  width: 330px;
  float: right;
  color: #fff;
  margin-right: 100px;
  font-size: 20px
}
.container-3{
  background-image: url(../assets/images/conduce.jpg);
  background-size: cover;
  height: 35em;
  background-position: bottom;
  margin: 0;
  padding: 0;
}
.jumbotron{
background-color: rgba(0, 0, 0, 0.5);
  color : #fff;
  width: 40%;
  float: right;
  margin-top: 10vh;
}
p .btn{
  background-color: #F7B617;
  border: none;
  color: #fff;
}
.container-4{
  background-color: #F7B617;
  background-size: cover;
  height: 35em;
  margin: 0;
  padding: 0;
}
.container-5{
  background-color: #2B2B2B;
  background-size: cover;
  height: 35em;
  margin: 0;
  padding: 0;
}
